html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

input {
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
